@model WebAppCmvc.Models.User

@{
    ViewData["Title"] = "Login Index";
}

<h1>Login</h1>
<hr />

<div class="row">
    <div class="col-md-4">

        <h5 class="text-danger">@ViewBag.LoginErrorMessage</h5><br />

        <form asp-controller="Login" asp-action="Index" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for=Username class="control-label"></label>
                <input asp-for=Username class="form-control" />
                <span asp-validation-for=Username class="text-danger"></span>
                &nbsp; &nbsp;
            </div>

            <div class="form-group">
                <label asp-for=Password class="control-label"></label>
                <input asp-for=Password class="form-control" />
                <span asp-validation-for=Password class="text-danger"></span>
                &nbsp; &nbsp;
            </div>

            <div class="form-group">
                <button type="submit" value="Login" name="login" class="btn btn-info"> <h5>Log In &nbsp; <i class="bi bi-fingerprint h4"></i></h5> </button>
            </div>
        </form>

    </div>
</div>


<br /><br />
<h5>
    Don't have an account?
    <a asp-action="SignUp" style="text-decoration: none;"> &nbsp;&nbsp; Sign Up</a>
</h5>

