@model WebAppCmvc.Models.User

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<h4>User</h4>
<hr />

<div class="row">
    <div class="col-md-4">

        <h5 class="text-danger">@ViewBag.SignupErrorMessage</h5>
        <h5 class="text-success">@ViewBag.SignupSuccessMessage</h5><br />

        <form asp-controller="Login" asp-action="SignUp" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for=Username class="control-label"></label>
                <input asp-for=Username class="form-control" />
                <span asp-validation-for=Username class="text-danger"></span>
                &nbsp; &nbsp;
            </div>

            <div class="form-group">
                <label asp-for=Password class="control-label"></label>
                <input asp-for=Password class="form-control" />
                <span asp-validation-for=Password class="text-danger"></span>
                &nbsp; &nbsp;
            </div>

            <div class="form-group">
                <button type="submit" value="Sign Up" name="signup" class="btn btn-info"> <h5>Sign Up &nbsp; <i class="bi bi-journal-plus "></i></h5> </button>
            </div>
        </form>

    </div>
</div>

<br /><br />
<h5>
    Already have an account?
    <a asp-action="Index" style="text-decoration: none;"> &nbsp;&nbsp; Log In</a>
</h5>

