@*@inject IHttpContextAccessor Accessor*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME &nbsp; @Accessor.HttpContext.Session.GetString("username").ToUpper()</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>*@
    <p>to</p>
    <p><a href="https://github.com/mahdiiadib/WebAppCmvc" target="_blank" style="text-decoration:solid;">WebAppCmvc</a></p>
</div>
